div.navBar {
    color: white;
    background-color: black;
    padding: 1em;
    margin: 0px;
}

.col {
    display:inline-block;
    width: 40%;
    vertical-align: top;
  }

.container {
    text-align: center;
    padding: 0px;
    margin: 0px;
}