body {
    color: black;
    background: aquamarine;
    animation-name: pulse;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

html, body {
  margin: 0;
  padding: 0;
}

.rubik-80s-fade-regular {
  font-family: "Rubik 80s Fade", system-ui;
  font-weight: 400;
  font-style: normal;
}
.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Rubik 80s Fade", system-ui;
  font-size: 100px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  color: white;
  mix-blend-mode:exclusion;
  margin: 0px;
  padding: 0px;
}

p {
  font-family:"Special Elite", system-ui;
  text-align: center;
  vertical-align: top;
}

img {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  transition: 0.3s;
}

img:hover {
  filter: grayscale(100%);
}

@keyframes pulse {
  0% {background-color: pink;}
  10% {background-color: aqua;}
  20% {background-color: magenta}
  30% {background-color: greenyellow;}
  40% {background-color: slateblue;}
  50% {background-color: yellow;}
  60% {background-color: blueviolet;}
  70% {background-color: orangered;}
  80% {background-color: lightpink;}
  90% {background-color: lightblue;}
  100% {background-color: yellow;}
}
